<footer class="container-fluid bg-light">
<div class="row">
<section class="col">
colonne 1
</section>
<section class="col">
colonne 1
</section>
<section class="col">
colonne 1
</section>
</div>
</footer>

