{% extends 'base.html.twig' %}

{% block title %}Administration des Produits{% endblock %}

{% block body %}
<main class="container">
        <section class="row">
            <div class="col-12">
     <h1>modifier un produit </h1>
     {% include "admin/products/_form.html.twig " with {'button_label':'modifier'}%}
</div>
</section>
</main>
{% endblock %}