{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
           
             
                <h1>Administration</h1>
             {% include "_partials/_adminnav.html.twig" %}
        </div>
    </div>
{% endblock %}